# config.yaml

execution:
  stage: 'stage1'
  prefix: 'top'
  mode: 'eval' ## 'full' для обучения / 'eval' для оценки
  load_from_mlflow: False ## True / False
  mlflow_run_id:
    ### stage1: "13658bc131184bea8610a3531ac34d9b"
    ### stage2: "2d2b55f652dc4e858793d34ef338ddc1"
    ## Для 1й модели
    ### stage1: "43bb7e07ad264e6a88da8b01edd34c77"
    ### stage2: "cdfe676ea42d4480b2017994adec0b18"
    ## Для 2й модели
    stage1: ""
    stage2: ""

paths:
  data_dir: "data"
  physionet_dir: "data_p_net"
  input_dir: "input"
  temp_dir: "temp"
  source_dir: "src"
  model_dir: "model"
  scaler_dir: "model"
  best_model: "best_model.keras"
  best_model_weights: "best_model.weights.h5"

params:
  batch_size: 386
  epochs: 100
  patience_early_stop: 50
  learning_rate: 0.0001 # 0.0001
  min_learning_rate: 0.000001 # 0.000001
  patience_reduce_lr: 20
  factor_reduce_lr: 0.2
  #attention_type: "multi_head_attention"  
  attention_type: "self_attention"  

data:
  add_derivatives: False
  add_augmentations: True
  size_augmentations: 6000
  test_size: 0.15
  val_size: 0.15
  normalization: "minmax"
  window_size: 360
  aug_shift_size: 20  
  analytics: True
  target_channel_name: 'MLII'
  dataset_name: "dataset.npz"
  visualization:
    buffer_percent: 3   # +- % от центра для загрузки буфера
    view_width_samples: 720 # Ширина окна просмотра в сэмплах
  ### patient_split:      ## Ручная стратификация пациентов по выборкам
  ###   test_pids: ['111', '212', '119', '222', '233', '213', '217', '219', '215', '209']
  ###   val_pids: ['214', '124', '232', '230', '102', '203', '205', '208', '122', '112', '103', '123']
  ### patient_busy:       ## вспомогательный блок для визуалицазии занятых пациентов для ручной стратификации выборок
  ###   train_pids: ['109', '207', '118', '231']
  ###   test_pids: ['111', '212', '219', '209']
  ###   val_pids: ['214', '124', '232', '205', '122', '112', '103', '123']

stages:
  all: ["stage1", "stage01", "stage2a", "stage2", "stage3"] 
  multi: ["stage01", "stage2a", "stage2", "stage3"]

augs:
  stage2: [3000, 0, 0, 0, 0, 0, 3000]

downsampling:
  - split: 'val'         # В какой выборке применяем (val, test, train)
    class: 'subSVEB'     # Какой класс подравниваем
    target_count: 930    # Целевое количество (чтобы было чуть больше, чем в test ~850)
    stage: 'stage2'      # На какой стадии (1 или 2)
    
class_labels:
  stage1: ["Good (N+N)", "Alert"]
  stage2_2: ["Attention", "Alarm"] # Вы можете удалить неиспользуемые стадии
  stage2a: ['N', 'L', 'R', 'A', 'a', 'J', 'e', 'j', 'VEB', 'Fusion', 'Q']
  stage2: ['N (по Aux не N)', 'L', 'R', 'subSVEB', 'VEB', 'Fusion', 'Q']
  stage3: ['A', 'a', 'J', 'e', 'j']
  stage01: ['N', 'L', 'R', 'A', 'a', 'J', 'e', 'j', 'V', 'E', 'F', '+', 'Q']

display_names:
  # --- Классы Stage 1 ---
  'Good (N+N)': 'Норма | Аномалий не выявлено'
  'Alert': 'Внимание! | Выявлена потенциальная аномалия'

  # --- Классы Stage 2 ---
  'N+N': 'Нормальная форма R-пика | Нормальный ритм'
  'N (по Aux не N)': 'Нормальная форма R-пика | Аномальный ритм'
  'L': 'Блокада левой ножки пучка Гиса (L)'
  'R': 'Блокада правой ножки пучка Гиса (R)'
  'subSVEB': 'Наджелудочковая аномалия (SVEB)'
  'VEB': 'Желудочковая аномалия (VEB)'
  'Fusion': 'Сливной комплекс (Fusion)'
  'Q': 'Неопределенный тип (Q)'

### # СЕКЦИЯ ДЛЯ ЗАГРУЗКИ И АНАЛИЗА ВНЕШНИХ ДАННЫХ
### data_explorer:
###   db_name: 'ptb-xl'  # Название базы данных на PhysioNet
### 
###   # Режим работы: 'metadata_only' или 'full_signals'
###   # 'metadata_only' - скачивает только метаданные и аннотации (быстро, мало места)
###   # 'full_signals' - скачивает полные сигналы (медленно, много места)
###   # 'analyze_only' - не скачивает, а только запускает анализ.
###   download_mode: 'analyze_only' 
### 
###   # Параметры для анализа (используются в режиме разведки)
###   analysis:
###     target_fs: 360     # Целевая частота дискретизации для расчета потерь
###     window_size: 360   # Размер окна для расчета потерь
###     cache_save_interval: 100 # Периодичность сохранения каждые `cache_save_interval` примеров.

### # --- Маппинг классов PTB-XL на классы Stage2 ---
### # ID классов Stage2: 0:N-, 1:L, 2:R, 3:subSVEB, 4:VEB, 5:Fusion, 6:Q
### ptbxl_class_mapping:
###   # --- ПАРАМЕТРЫ ОБРАБОТКИ ---
###   target_channel: 'II'
###   target_fs: 360
###   
###   # Класс 0: N (по Aux не N) - Различные варианты синусового ритма
###   SR: 0
###   SBRAD: 0
###   STACH: 0
###   SARRH: 0
###   
###   # Класс 1: L (Блокады левой ножки)
###   LBBB: 1
###   ILBBB: 1
###   LPFB: 1
###   CLBBB: 1 # Complete LBBB
###   
###   # Класс 2: R (Блокады правой ножки)
###   RBBB: 2
###   IRBBB: 2
###   CRBBB: 2 # Complete RBBB
### 
###   # Класс 3: subSVEB (Наджелудочковые аритмии)
###   PAC: 3
###   AFIB: 3
###   AFLT: 3
###   SVTAC: 3
###   PSVT: 3 # Пароксизмальная наджелудочковая тахикардия
### 
###   # Класс 4: VEB (Желудочковые аритмии)
###   PVC: 4
###   VPB: 4 # Ventricular premature beat (синоним PVC)
###   BIGU: 4 # Бигеминия, часто желудочковая
###   TRIGU: 4 # Тригеминия, часто желудочковая
###   
###   # Класс 5: Fusion (Сливные) - Прямых аналогов нет, можно добавить IVCD
###   IVCD: 5
### 
###   # Примечание: Все, что не попало в этот список, будет автоматически
###   # отнесено к классу 6 (Q / Другое)
###   