# config.yaml

execution:
  stage: 'stage1' ## 'stage1' / 'stage2' 
  prefix: 'top' ##'stage1' 
  mode: 'eval' ## 'full' для обучения / 'eval' для оценки
  load_from_mlflow: False ## True / False
  mlflow_run_id:
    ### stage1: "13658bc131184bea8610a3531ac34d9b"
    ### stage2: "2d2b55f652dc4e858793d34ef338ddc1"
    ## Для 1й модели
    ### stage1: "43bb7e07ad264e6a88da8b01edd34c77"
    ### stage2: "cdfe676ea42d4480b2017994adec0b18"
    ## Для 2й модели
    stage1: ""
    stage2: ""

paths:
  data_dir: "data"
  physionet_dir: "data_p_net"
  input_dir: "input"
  temp_dir: "temp"
  source_dir: "src"
  model_dir: "model"
  scaler_dir: "model"
  best_model: "best_model.keras"
  best_model_weights: "best_model.weights.h5"

params:
  batch_size: 386
  epochs: 100
  patience_early_stop: 50
  learning_rate: 0.0001 # 0.0001
  min_learning_rate: 0.000001 # 0.000001
  patience_reduce_lr: 20
  factor_reduce_lr: 0.2
  #attention_type: "multi_head_attention"  
  attention_type: "self_attention"  

data:
  add_derivatives: False
  add_augmentations: True
  size_augmentations: 6000
  test_size: 0.15
  val_size: 0.15
  normalization: "minmax"
  window_size: 360
  aug_shift_size: 20  
  analytics: True
  target_channel_name: 'MLII'
  dataset_name: "dataset.npz"
  visualization:
    buffer_percent: 3   # +- % от центра для загрузки буфера
    view_width_samples: 720 # Ширина окна просмотра в сэмплах
  
stages:
  all: ["stage1", "stage01", "stage2a", "stage2", "stage3"] 
  multi: ["stage01", "stage2a", "stage2", "stage3"]

augs:
  stage2: [3000, 0, 0, 0, 0, 0, 3000]

downsampling:
  - split: 'val'         # В какой выборке применяем (val, test, train)
    class: 'subSVEB'     # Какой класс подравниваем
    target_count: 930    # Целевое количество (чтобы было чуть больше, чем в test ~850)
    stage: 'stage2'      # На какой стадии (1 или 2)
    
class_labels:
  stage1: ["Good (N+N)", "Alert"]
  stage2_2: ["Attention", "Alarm"] # Вы можете удалить неиспользуемые стадии
  stage2a: ['N', 'L', 'R', 'A', 'a', 'J', 'e', 'j', 'VEB', 'Fusion', 'Q']
  stage2: ['N (по Aux не N)', 'L', 'R', 'subSVEB', 'VEB', 'Fusion', 'Q']
  stage3: ['A', 'a', 'J', 'e', 'j']
  stage01: ['N', 'L', 'R', 'A', 'a', 'J', 'e', 'j', 'V', 'E', 'F', '+', 'Q']

display_names:
  # --- Классы Stage 1 ---
  'Good (N+N)': 'Норма | Аномалий не выявлено'
  'Alert': 'Внимание! | Выявлена потенциальная аномалия'

  # --- Классы Stage 2 ---
  'N+N': 'Нормальная форма R-пика | Нормальный ритм'
  'N (по Aux не N)': 'Нормальная форма R-пика | Аномальный ритм'
  'L': 'Блокада левой ножки пучка Гиса (L)'
  'R': 'Блокада правой ножки пучка Гиса (R)'
  'subSVEB': 'Наджелудочковая аномалия (SVEB)'
  'VEB': 'Желудочковая аномалия (VEB)'
  'Fusion': 'Сливной комплекс (Fusion)'
  'Q': 'Неопределенный тип (Q)'